* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

section, main, footer {
  padding: 3em 15%;
}

h1, h2, h3 {
  font-family: "Bebas Neue", cursive;
  color: #e9eec9;
}

header {
  width: 100%;
  position: fixed;
}
header:before, header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header nav {
  padding: 0.5em 15%;
  background-color: #2831489c;
}
header nav:before, header nav:after {
  content: "";
  display: table;
}
header nav:after {
  clear: both;
}
header nav img {
  width: 5%;
  float: left;
  border: 1px solid #e9eec9;
  border-radius: 5px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  line-height: 5em;
  margin-left: 2em;
}
header nav ul li a {
  color: #e9eec9;
  text-decoration: none;
  font-size: 1.5em;
}
header nav ul li:hover {
  background-color: #913535;
  text-decoration: underline;
}

span {
  color: #913535;
  font-family: "Bebas Neue", cursive;
}

main {
  background-image: url("../slike/background_raw.jpg");
  background-size: cover;
  height: 100vh;
}

.main-text {
  margin-top: 20%;
  font-size: 3em;
}

#nase-meso {
  background-color: #e9eec9;
  text-align: center;
}
#nase-meso:before, #nase-meso:after {
  content: "";
  display: table;
}
#nase-meso:after {
  clear: both;
}
#nase-meso h2 {
  color: #913535;
  margin-bottom: 2em;
}

.container1 {
  padding: 3em 0;
  margin-bottom: 3em;
}
.container1:before, .container1:after {
  content: "";
  display: table;
}
.container1:after {
  clear: both;
}
.container1 .img-container {
  width: 15%;
}
.container1:hover {
  background-color: #913535;
  border-radius: 10px;
}
.container1 img {
  background-color: #913535;
  width: 70%;
  border-radius: 10px;
  float: left;
  margin-right: 2em;
}

.text h3 {
  color: #000;
  float: right;
}
.text p {
  padding-top: 3em;
}

.container2 {
  padding: 3em 0;
  margin: 3em 0;
}
.container2:before, .container2:after {
  content: "";
  display: table;
}
.container2:after {
  clear: both;
}
.container2 .img-container {
  width: 15%;
  float: right;
}
.container2:hover {
  background-color: #913535;
  border-radius: 10px;
}
.container2 img {
  background-color: #913535;
  width: 70%;
  border-radius: 10px;
  float: right;
  margin-right: 2em;
}
.container2 .text h3 {
  color: #000;
  float: left;
}
.container2 .text p {
  padding-top: 3em;
}

#nav-left {
  background-color: #283148;
}
#nav-left:before, #nav-left:after {
  content: "";
  display: table;
}
#nav-left:after {
  clear: both;
}
#nav-left h2 {
  text-align: center;
  margin-bottom: 2em;
}
#nav-left .left {
  width: 30%;
  float: left;
  padding: 2em 0;
}
#nav-left .left h3 {
  border-bottom: 1px solid #e9eec9;
}
#nav-left .left p {
  text-align: justify;
  color: #e9eec9;
  padding: 1em 0;
}
#nav-left .left address {
  padding: 2em 0;
}

.linkovi {
  float: left;
  width: 25%;
  padding: 1em 5em;
}
.linkovi:before, .linkovi:after {
  content: "";
  display: table;
}
.linkovi:after {
  clear: both;
}
.linkovi h3 {
  border-bottom: 1px solid #e9eec9;
}
.linkovi ul {
  padding: 1em 2em;
}
.linkovi ul li {
  color: #e9eec9;
}

.map {
  float: right;
}

footer {
  padding: 1em 15%;
}
footer:before, footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
footer .logo-left {
  float: left;
}
footer .logo-left img {
  width: 20%;
  float: left;
  border: 1px solid #e9eec9;
  border-radius: 5px;
  margin-right: 1em;
}
footer .logo-left h1 {
  color: #000;
  line-height: 2em;
  margin-left: 1em;
}
footer .rights {
  float: right;
  line-height: 4em;
}
footer .rights h1 {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
