@import "mixins";
@import "vars";

@include main;

section, main ,footer {
    padding: 3em 15%;
}
h1, h2 ,h3 {
    font-family: $logo-font;
    color: $yellow-text;
}

header {
    width: 100%;
    position: fixed;
    @include clearfix;

  

    nav {
        padding: 0.5em 15%;
        background-color: $blue-navigation;
        @include clearfix;
        img {
            width: 5%;
            float: left;
            border: 1px solid $yellow-text;
            border-radius: 5px;
        }
        ul {
            list-style: none;
            li {
                display: inline-block;
                line-height: 5em;
                margin-left: 2em;
                a {
                    color:  $yellow-text;
                    text-decoration: none;
                    font-size: 1.5em;

            }
            &:hover {
                background-color: $main-red;
                text-decoration: underline;
            }
        }

        }

    }
}
span {
    color: $main-red;
    font-family: $logo-font;
}
main {
    background-image: url("../slike/background_raw.jpg");
    background-size: cover;
    height: 100vh;

}
.main-text {
    margin-top: 20%;
    font-size: 3em;
}
#nase-meso {
    background-color: $yellow-text;
    text-align: center;
    @include clearfix;
    h2 {
        color: $main-red;
        margin-bottom: 2em;
    }
}
.container1 {
    padding: 3em 0;
    @include clearfix;
 .img-container {
     width: 15%;
     img {
        background-color: $main-red;
        width: 70%;
        border-radius: 10px;
        float: left;
        margin-right: 2em;
    }
 }

  
    .text {
       
        h3 {
            color: #000;
            float: right;
        }
        p {
            padding-top: 3em;
        }
      
    }
}
.container2 {
    padding: 5em 0;
    @include clearfix;
    margin: 3em;
 .img-container {
     width: 15%;
     float: left;
     img {
        background-color: $main-red;
        width: 70%;
        border-radius: 10px;
        float: right;
        margin-right: 2em;
    }
    &:hover + img {
        background-color: $main-red;
    }
    .text {
       
        h3 {
            color: #000;
            float: left;
        }
        p {
            padding-top: 3em;
           
        }
      
    }
 }
 
}
#nav-left {
    background-color: $blue-background;
    @include clearfix;
     h2 {
         text-align: center;
         margin-bottom: 2em;
     }
     .left {
         width: 30%;
         float: left;
         padding: 2em 0;
         
         h3 {
            border-bottom: 1px solid $yellow-text;
            
         }
         p {
             text-align: justify;
             color: $yellow-text;
             padding: 1em 0;

         }
         address {
             padding: 2em 0;
         }
     }

}
.linkovi {
    float: left;
     @include clearfix;
     width: 25%;
     padding: 1em 5em;
     h3 {
        border-bottom: 1px solid $yellow-text;
     }
     ol {
         padding: 1em 2em;
         li {
             color: $yellow-text;
         }
     }
}
.map {
    float: right;
}